.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }
.orangebox{
    box-sizing: content-box;
    background-color: rgb(255, 123, 0);
    position: relative;
    object-fit: fill;
    right: 0px;
    padding-left: 400px; 
    padding-right: 200px;
    padding-top: 80px;
    padding-bottom: 200px;
}
.greybox{
    position: absolute;
    width: 400px;
    height: 200px;
    top: 40px;
    right: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgb(63, 63, 62);
    color: rgb(250, 252, 253);
    font-family: "EB Garamond";
}
.skinline{
    position: absolute;
    left: 0%;
    right: 50%;
    top: 270px;
    background-color: rgb(248, 211, 142);
    color: rgb(29, 27, 27);
    padding-bottom: 10px;
    padding-top: 15px;
    padding-right: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.blackline{
    position: absolute;
    left: 50%;
    right: 0%;
    top: 270px;
    background-color: rgb(29, 27, 27);
    color: rgb(248, 211, 142);
    padding-bottom: 10px;
    padding-top: 15px;
    padding-left: 10px;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.acadbox{
    position: relative;
}
.acadImg{
    width: 300px;
    float: left;
    margin-top: 100px;
    margin-left: 10px;
    border-radius: 10px;
}
.acadText{
    position: absolute;
    border-radius: 10px;
    width: 200px;
    height: 170px;
    left: 200px;
    margin-top: 110px;
    background-color: rgb(247, 217, 136);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.clockbox{
    position: relative;
}
.clockImg{
    float: left;
    width: 300px;
    height: 190px; 
    margin-top: 100px;
    border-radius: 10px;
}
.clockText{
    position: absolute;
    border-radius: 10px;
    width: 200px;
    height: 170px;
    left: 200px;
    margin-top: 110px;
    background-color: rgb(247, 217, 136);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.poemImg{
    float: left;
    width: 300px;
    height: 180px;
    margin-top: 110px;
    border-radius: 10px;
}
.poemText{
    position: absolute;
    border-radius: 10px;
    width: 200px;
    height: 170px;
    left: 200px;
    margin-top: 115px;
    background-color: rgb(247, 217, 136);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 30px;
}
.mail{
    box-sizing: content-box;
    position: relative;
    object-fit: fill;
    width: 1200px;
    background-color: rgb(63, 63, 62);
    top: 100px;
    right: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 200px;
    padding-left: 300px;
}
a:link{
    color: rgb(187, 148, 90);
}
